.NavBarStyle{
  width: 100vw;
  height: 65px;
  display: flex;
  background-color: white;
}

.side-container{
  width: 50%;
}

.logoStyle{
  margin: 15px 40px 0 25px;
  height: 60%;  
}

.selectField{
  margin: auto 0;
}

.raised-button{
  width: 100%;
  text-align: right;
  margin-right: 20px;
}